@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "Inter", Helvetica, sans-serif;
  --font-fira-code: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #fff;
    --text-secondary: #ededed;
  }
}

@layer base {
  html {
    transition: ease 0.3s all;
  }

  body {
    color: var(--text-primary);
    background-color: var(--background);
    font-family: var(--font-body);
  }

  .font-fira-code {
    font-family: var(--font-fira-code);
  }
}

@layer components {
  main {
    @apply space-y-4 space-x-4;
  }

  .form {
    @apply flex gap-2 mb-4 justify-between
  }

  /* Input form styling */
  .wordForm {
    @apply border border-indigo-400 bg-indigo-500 p-2 rounded text-center w-auto uppercase text-white;
  }

  /* Keyboard layout button styling */
  .keyboard-button {
    @apply w-8 h-8 flex text-indigo-500 items-center justify-center rounded;
  }

  /* @media (max-width: 768px) {
    .keyboard-button {
      @apply w-4 h-4;
    }
  } */

  .keyboard-button:hover {
    @apply bg-slate-300
  }

  .keyboard-row {
    @apply flex gap-1 mb-2;
  }

  /* Button colors for different key statuses */
  .keyboard-button-green {
    @apply bg-green-400 text-indigo-500;
  }

  .keyboard-button-yellow {
    @apply bg-yellow-400 text-indigo-500;
  }

  .keyboard-button-gray {
    @apply bg-gray-400 text-indigo-400;
  }

  .keyboard-button-default {
    @apply bg-black text-indigo-500;
  }

  /* Guesses display grid */
  .guess-grid {
    @apply my-4 space-y-2;
  }

  .guess-cell {
    @apply w-8 h-8 flex items-center justify-center border rounded;
  }

  .bg-green {
    @apply bg-green-400;
  }

  .bg-yellow {
    @apply bg-yellow-400;
  }

  .bg-gray {
    @apply bg-gray-400;
  }

  .custom-select {
    @apply relative w-36;
  }

  .custom-select-trigger {
    @apply flex items-center justify-between px-3 py-2 border rounded-md cursor-pointer bg-gray-800 text-white hover:border-gray-600;
  }

  .custom-select-dropdown {
    @apply absolute w-full mt-1 bg-gray-800 border border-gray-600 rounded-md shadow-lg z-50 max-h-60 overflow-auto text-white;
  }

  .custom-select-option {
    @apply px-3 py-2 hover:bg-gray-700 cursor-pointer;
  }

  .custom-select-option[aria-selected="true"] {
    @apply bg-gray-700;
  }

  .custom-alert {
    @apply fixed inset-0 flex items-center justify-center z-50 bg-black/50;
  }

  .custom-alert-box {
    @apply bg-gray-800 text-white rounded-lg shadow-lg p-6 max-w-sm w-full;
  }

  .custom-alert-message {
    @apply text-center text-sm;
  }

  .custom-alert-buttons {
    @apply flex justify-center space-x-4 mt-4;
  }

  .custom-alert-button {
    @apply px-4 py-2 rounded-lg;
  }

  .custom-alert-confirm {
    @apply bg-green-500 hover:bg-green-600;
  }

  .custom-alert-cancel {
    @apply bg-red-500 hover:bg-red-600;
  }
}